# Environments
.en
.env
.venv
env/
venv/
pypy_venv/
ENV/
env.bak/
venv.bak/
*.local
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
env.py

# Django stuff:
*.log
local_settings.py
db.sqlite3
static

# SageMath parsed files
*.sage.py