{% extends 'base.html' %}

{% block content %}

Hi {{name}}, <br/>
Welcome to eTests. We are online testing platform with a number of test-series and live tests prepared by professional and premier institutes. <br/>
We enhance your potential with quality questions and providing detailed analysis of your performance. Join our facebook page to get notifications of your exams, important dates and analysis of papers. The updates of live tests and practice tests are also posted on our page regularly.
        
{% endblock %}