{% extends 'base.html' %} {% block content %} Hi {{name}}, <br />
Welcome to eTests. <br /><br />
Create and view your test series at<br />
<a href="https://etests.co.in/testseries" target="_blank"
  >https://etests.co.in/testseries</a
>
<br />
Create tests for your students at<br />
<a href="https://etests.co.in/dashboard" target="_blank"
  >https://etests.co.in/dashboard</a
>
<br />

<a
  class="btn"
  href="https://docs.google.com/presentation/d/1IGc7AAcnFbrjmlRuii7fGDBvn_6tUy1sp-NHGL2hZ7o/edit?usp=sharing"
>
  Know Our Features
</a>

{% endblock %}
