{% extends 'base.html' %} {% block content %} Hi {{name}}, <br />
Welcome to eTests. You can access online test-series and live tests prepared by
professionals and premiere institutes <br />
Search for test series at<br />
<a href="https://etests.co.in/testseries" target="_blank"
  >https://etests.co.in/testseries</a
>
<br />
Search test series created by premiere institutes at<br />
<a href="https://etests.co.in/institutes" target="_blank"
  >https://etests.co.in/institutes</a
>
<br />
For exam specific preparation go to<br />
<a href="https://etests.co.in/exams" target="_blank"
  >https://etests.co.in/exams</a
>
<br /><br />
We provide quality questions and detailed analysis of your performance.<br /><br />
<strong
  >Join our <a href="https://facebook.com/etests.co.in/">facebook page</a> to
  get notifications of your exams, important dates and analysis of papers. The
  updates of live tests and practice tests are also posted on our page
  regularly.</strong
>

{% endblock %}
