.card{
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #eee;
}

.message{
  font-family: 'Product Sans Thin', Roboto, Arial, sans-serif;
  font-size: 18pt;
  margin: 10px auto;
}