@font-face {
    font-family: 'Product Sans';
    src: url('~@/assets/fonts/productsans/productsans-regular-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/productsans/productsans-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Product Sans';
    font-weight: bold;
    src: url('~@/assets/fonts/productsans/productsans-bold-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/productsans/productsans-bold-webfont.woff') format('woff');
    
    
}

@font-face {
    font-family: 'Product Sans';
    font-style: italic;
    font-weight: bold;
    src: url('~@/assets/fonts/productsans/productsans-bolditalic-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/productsans/productsans-bolditalic-webfont.woff') format('woff');
    
    
}

@font-face {
    font-family: 'Product Sans';
    font-style: italic;
    src: url('~@/assets/fonts/productsans/productsans-italic-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/productsans/productsans-italic-webfont.woff') format('woff');
    
    
}

@font-face {
    font-family: 'Product Sans Light';
    src: url('~@/assets/fonts/productsans/productsans-light-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/productsans/productsans-light-webfont.woff') format('woff');
    
    
}

@font-face {
    font-family: 'Product Sans Light';
    font-style: italic;
    src: url('~@/assets/fonts/productsans/productsans-lightitalic-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/productsans/productsans-lightitalic-webfont.woff') format('woff');
    
    
}


@font-face {
    font-family: 'Product Sans Thin';
    src: url('~@/assets/fonts/productsans/productsans-thin-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/productsans/productsans-thin-webfont.woff') format('woff');
    
    
}

@font-face {
    font-family: 'Product Sans Thin';
    font-style: italic;
    src: url('~@/assets/fonts/productsans/productsans-thinitalic-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/productsans/productsans-thinitalic-webfont.woff') format('woff');
    
    
}

@font-face {
  font-family: 'Roboto';
  
  font-weight: 400;
  src: url('~@/assets/fonts/roboto/roboto-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('~@/assets/fonts/roboto/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~@/assets/fonts/roboto/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~@/assets/fonts/roboto/roboto-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('~@/assets/fonts/roboto/roboto-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~@/assets/fonts/roboto/roboto-v19-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}