@import '~vuetify/src/stylus/main'
@import './fonts.styl'


$body-font-family = 'Product Sans Light'

.round-corners{
    border-radius: 8px;
}

a{
    text-decoration: none;
}


.theme--light.v-text-field--solo-inverted.v-text-field--solo > .v-input__control > .v-input__slot {
  background: rgb(241, 243, 244);
  brder-radius: 8px;

  .v-label{
      color: #c9cbcb;
  }
}

.theme--light.v-text-field--solo-inverted.v-text-field--solo.v-input--is-focused > .v-input__control > .v-input__slot {
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
    border-radius: 8px;

    input {
        color: #444;
    }
    .v-label{
        color: #c9cbcb
    }
}

.v-card{
    text-align: center;
    border-radius: 8px;
}