@import '~vuetify/src/stylus/main'

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,600&display=swap&subset=latin-ext');

*{
    font-family: "Montserrat";
}
$body-font-family = 'Montserrat', Arial, sans-serif;
$heading-font-family = 'Open Sans', sans-serif;
$headings = {
  h1: { size: 112px, weight: 300, line-height: 1, letter-spacing: -.04em, font-family: $heading-font-family },
  h2: { size: 56px, weight: 400, line-height: 1.35, letter-spacing: -.02em, font-family: $heading-font-family },
  h3: { size: 45px, weight: 400, line-height: 48px, letter-spacing: normal, font-family: $heading-font-family },
  h4: { size: 34px, weight: 400, line-height: 40px, letter-spacing: normal, font-family: $heading-font-family },
  h5: { size: 24px, weight: 400, line-height: 32px, letter-spacing: normal, font-family: $heading-font-family },
  h6: { size: 20px, weight: 500, line-height: 1, letter-spacing: .02em, font-family: $heading-font-family },
  title: { size: 1.2rem, weight: 400, font-family: $heading-font-family },
  subheading: { size: 16px, weight: 400, font-family: $body-font-family },
  body-2: { size: 14px, weight: 500, font-family: $body-font-family },
  body-1: { size: 14px, weight: 400, font-family: $body-font-family },
  caption: { size: 12px, weight: 400, font-family: $body-font-family },
  button: { size: 14px, weight: 500, font-family: $body-font-family }
}

.application {
    font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
    line-height: 1.5;
}

.round-corners{
    border-radius: 8px;
}

a{
    text-decoration: none;
}


.theme--light.v-text-field--solo-inverted.v-text-field--solo > .v-input__control > .v-input__slot {
  background: rgb(241, 243, 244);
  brder-radius: 8px;

  .v-label{
      color: #c9cbcb;
  }
}

.theme--light.v-text-field--solo-inverted.v-text-field--solo.v-input--is-focused > .v-input__control > .v-input__slot {
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
    border-radius: 8px;

    input {
        color: #444;
    }
    .v-label{
        color: #c9cbcb
    }
}

.v-card{
    text-align: center;
    border-radius: 8px;
}